body
{
    background: url('../../public/assets/images/web-background1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.site-logo {
	width: 100px;
	height: 100px;
}

.site-header {
	background: url('../../public/assets/images/Header_background.jpg') round;
}

.site-headers a {
    color: #999;
    transition: ease-in-out color .15s;
}

.nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

.custom-navbar {
    background: url(../../public/assets/images/Header_background.jpg) repeat;
    background-size: 4px 48px;
    /* background-color: #e3f2fd; */
}

.custom-navbar .nav-item .nav-link {
    color: #008000;
}

.second-header .nav-item a {
    background-color: #faf4e8;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #164773;
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
}

.custom-container {
    min-height: calc(100vh - 275px);
}

.image-gallery-slide img {
    height: 200px;
}

.footer-div {
	background: url('../../public/assets/images/Header_background.jpg') round;
    background-size: contain;
}